/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
:root {
  --color-azul: #293250;
  --color-amarillo: #fed163;
  --color-lima: #6dd47e;
}

/* boleteo */
.banda-l {
  background-color: #fed163;
  width: 216px;
  height: 60px;
  position: absolute;
  border-radius: 13px 13px 0 0;
  top: 78px;
  left: -78px;
  transform: rotate(-90deg);
}

.logo-banda-r {
  background-image: url(../img/rifastblue.png);
  width: 120px;
  height: 60px;
  position: absolute;

  top: 78px;
  left: -24px;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(-90deg);
}

.boleto {
  max-width: 600px;
  height: 220px;
  margin: 0 auto;

  background: rgba(255, 255, 255, 0.51);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 2px solid black;
}

.logo {
  height: 70px;
}

.navbar {
  background-color: var(--color-amarillo);
}

.card {
  border: 0;
}

.landing {
  background-image: url("../img/landingHome.png");
  height: 80vh;
  width: 100%;
  padding: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  background-color: var(--color-azul);
  border-color: #293250;
  color: var(--color-amarillo);
  font-weight: bold;
}

.login:hover {
  background-color: var(--color-azul);
  border-color: #293250;
  color: #fed163;
}

.signup {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 7rem;
}

.btn-signup {
  background-color: var(--color-lima);
  border-color: var(--color-lima);
  color: var(--color-azul);
  font-weight: bold;
  margin-top: 10px;
}

.btn-signup:hover {
  background-color: var(--color-lima);
  border-color: var(--color-lima);
}

.btn-liberar {
  background-color: var(--color-amarillo);
  border-color: var(--color-amarillo);
  font-weight: bold;
  color: var(--color-azul);
}

.btn-liberar:hover {
  background-color: var(--color-amarillo);
  border-color: var(--color-amarillo);
  font-weight: bold;
}

.btn-closed {
  border-color: #293250;
  color: #293250;
  font-weight: bold;
}

.btn-closed:hover {
  background-color: #293250;
}

.register {
  background-color: var(--color-lima);
  border-color: #6dd47e;
  color: var(--color-azul);
  font-weight: bold;
}

.register:hover {
  background-color: var(--color-lima);
  border-color: var(--color-lima);
  color: #293250;
}

.leyenda {
  width: 50%;
  margin: 0 auto;
  width: 300px;
  height: 80px;
  padding-top: 5px;
  border-radius: 16px;
  background-color: var(--color-amarillo);
}
.talonario {
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
  background: #fed163;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid #fed163;
}

.vista-tickets {
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
  background: #fed163;
  padding: 15px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid #fed163;
}

.ticket-punteado {
  background-image: url("../img/ticketpunteado.png");
  width: 150px;
  height: 75px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.ticket-pagado {
  background-image: url("../img/ticketpagado.png");
  width: 150px;
  height: 75px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.btn-eliminar-ticket {
  background-color: #293250;
  color: #fed163;
  border-radius: 4px;
  border-color: #293250;
}

.btn-eliminar-ticket:hover {
  color: #fed163;
}

.content-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.content-overlay .text-overlay {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

.button-overlay {
  background-color: #293250;
  color: #fed163;
  font-weight: bold;
  font-size: 18px;
  width: 200px;
  height: 50px;
  border-color: #293250;
  border-radius: 10px;
}

.button-overlay:hover {
  background-color: #293250;
  border-color: #293250;
}

.datos-talonario {
  max-width: 600px;
  height: 220px;
  margin: 0 auto;

  background: rgba(255, 255, 255, 0.51);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 2px solid black;
}
.item-talonario {
  width: 60%;
  border-bottom: 1px solid black;
}
.numero {
  font-weight: bold;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  font-size: 18px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
}

.numero_disponible {
  color: black;
  border: 2px dashed black;
}

.numero_reservado {
  background: var(--color-azul);
  color: #fed163;
  border: 2px solid var(--color-azul);
}

.numero_pagado {
  background: var(--color-lima);
  color: #fed163;
  font-weight: bold;
  border: 2px solid var(--color-lima);
  padding: 10px;
}

.form-reserva-ticket {
  width: 40%;
  margin: 0 auto;
}

.select-ticket {
  color: #293250;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: #fed163;
  padding: 15px;
  border-radius: 16px;
}

.dropdown-ticket {
  border-radius: 10px;
  border-color: #293250;
}

.btn-reserva {
  background-color: #293250;
  color: #fed163;
  font-weight: bold;
}

.btn-reserva:hover {
  color: var(--color-amarillo);
}

.buyer,
.checker {
  background-color: var(--color-lima);
  color: var(--color-azul);
  font-weight: bold;
}

.spam {
  background-color: var(--color-amarillo);
  color: var(--color-azul);
  font-weight: bold;
}

.reservation {
  background-color: var(--color-amarillo);
  color: var(--color-azul);
  font-weight: bold;
}

.tituloregistro {
  padding: 5px 0 30px 0;
}

.formulario {
  width: 40%;
  margin: 0 auto;
}

.boton {
  background-color: #6dd47e;
  border-color: #6dd47e;
  color: #293250;
}

footer {
  display: flex;
  justify-content: space-around;
}

.iconos {
  margin: 5px;
  font-size: 30px;
}

.locationf {
  font-size: 20px;
  margin: 20px 0;
}

h5 {
  margin: 20px 20px 10px 20px;
}

footer {
  background-color: #293250;
  color: white;
}

.i-footer {
  margin: 0 5px;
}

.flask {
  margin: 0 0 0 5px;
  height: 70px;
}

.my-button {
  background-color: var(--color-azul);
  color: var(--color-amarillo);
  font-weight: bold;
}

.yes {
  background-color: var(--color-azul);
  color: var(--color-amarillo);
  font-weight: bold;
}
.no {
  background-color: var(--color-lima);
  color: var(--color-azul);
  font-weight: bold;
}

.modal {
  color: #293250;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  border-radius: 16px;
}

.modal-header,
.modal-footer {
  background-color: #fed163;
}

.numero-ticket-no-pagado {
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.numero-ticket-pagado {
  color: #fed163;
  font-size: 30px;
  font-weight: bold;
}
